In [1]:
#import required libraries
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
#load Data
data=pd.read_csv(r"F:\data sets\Salary_Data (2).csv")

In [5]:
data.head(3)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 624.0 bytes

In [7]:
#checking shape of the data
data.shape

(31, 2)

In [8]:
#checking length of the Data
len(data)

31

In [9]:
#checking Data Types
data.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [10]:
#checking missing values
np.sum(data.isnull())

YearsExperience    1
Salary             1
dtype: int64

In [11]:
#dropna is used to drop missing values in our dataset
data.dropna(inplace=True)

In [12]:
#checking missing values
np.sum(data.isnull())

YearsExperience    0
Salary             0
dtype: int64

In [13]:
#seperate features and label columns
features=data.iloc[:,[0]].values
label=data.iloc[:,[-1]].values

In [16]:
#now perform train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(features,label,test_size=0.2,random_state=3)

In [17]:
#implement linear regression

In [18]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
model.score(X_train,y_train)#known data

0.9545249190394052

In [20]:
model.score(X_test,y_test)#unknown data

0.9695039421049821

# #method2 linear regression implementation

In [21]:

# How to get the best model using a simple Looping trick?
# BruteForce technique
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
for i in range(1,31):
    
    X_train,X_test,y_train,y_test = train_test_split(features,
                                                label,
                                                test_size = 0.2,
                                                random_state= i)
    model = LinearRegression()
    model.fit(X_train,y_train)
    train_score= model.score(X_train,y_train)
    test_score = model.score(X_test,y_test)
    
    if test_score > train_score:
        print("Training Score {} Testing Score {} Random State {}". format(train_score,test_score,i))

Training Score 0.9545249190394052 Testing Score 0.9695039421049821 Random State 3
Training Score 0.9528197369259258 Testing Score 0.9631182154839475 Random State 8
Training Score 0.9494673013344644 Testing Score 0.9816423482070255 Random State 10
Training Score 0.9527636176933665 Testing Score 0.9606215790278543 Random State 14
Training Score 0.9460054870434312 Testing Score 0.9835849730044817 Random State 26
Training Score 0.9527636606684406 Testing Score 0.9636425773684422 Random State 27
Training Score 0.9400496694274888 Testing Score 0.9944092048209744 Random State 30

In [22]:
#Equation of line y=mx+c
# salary = b0 + b1 (YearsExperience)
print(model.intercept_)
print(model.coef_)

[25566.43561641]
[[9481.03756369]]

In [23]:
# Deployment Phase
yearsExperience = float(input("Enter Years of Experience: "))
salary = model.predict(np.array([[yearsExperience]]))
print("Predicted salary for {} years of experience is {}".format(yearsExperience,salary))

Enter Years of Experience: 4
Predicted salary for 4.0 years of experience is [[63490.58587116]]